*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    outline: none;
    background-color: #222222;
    border: 1px solid #626262;
    border-radius: .1rem;
    padding-inline: .6rem;
    padding-block: .1rem;
    color: #929292;
    margin-left: .5rem;

    width: 10rem;
}

#font-smooth{
    margin-right: .5rem;
}

#color-picker{
    width: 4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

.container{
    background-color: #121212;
}

header{
    z-index: 10;
    background-color: #323232;
    height: 4.5rem;
}

.manage{
    font-size: .8em;
    border-bottom: 2px solid #222222;
}

.cont-manage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    padding-left: .5rem;
    position: relative;

}

.cont-manage > span{
    color: rgb(170, 170, 170);
    cursor: pointer;
}

.cont-manage > span:hover{
    color: rgb(230, 230, 230, 230);
    cursor: pointer;
    text-decoration: underline;
    transition: all .1s ease-in-out;
}

.header-edit{
    width: 100vw;
}

.cont-edit{
    font-size: .8em;
    height: 2.5rem;
    width: 1140px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.cont-edit > span{
    height: 100%;
    width: min-content;
    display: flex;
    align-items: center;
    margin-left: .4rem;

    border-right: 1px solid #222222;
}

.cont-edit > span > img{
    margin-right: .4rem;
}

.font-config > span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown{
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#align-items > img{
    cursor: pointer;
}

.dropdown:hover{
    transform: translateY(.05rem);
}

.file-tab{
    position: absolute;
    top: 1.3rem;
    background-color: white;
    width: 14rem;
    height: fit-content;
    color: #323232;
    font-weight: 500;
    padding-inline: .2rem;
    padding-block: .3rem;
    z-index: 20;
}

.file-tab > li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: .5rem;
    padding-block: .2rem;
}

.file-tab > li:hover{
    color: white;
    background-color: #0078D7;
}

.hide-header{
    display: none;
}

.reveal-header{
    display: block;
}


/* sidebar section */


.sidebar{
    z-index: 0;
    background-color: #323232;
    border: 4px solid #222222;
    border-top: 16px solid #222222;
    width: 2.5rem;
    height: calc(100vh - 4.5rem);
}

.tools > div{
    width: 100%; 
    height: 2rem;
    padding: .3rem;
    cursor: pointer;
}

.icon:hover{
    background-color: #505050;
}


/* main section */

main{
    position: absolute;
    top: 4.5rem;
    left: 2.5rem;
    height: calc(100vh - 4.5rem);
    width: calc(100vw - 2.5rem);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#canvas{
    width: 60vw;
    height: 70vh;
    background-color: white;
    position: relative;
    resize: both;
    overflow: auto;
}

#canvas > ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 40;
    list-style: none;
    resize: both;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

li{
    display: block;
    position: relative;
    z-index: 46;
    width: fit-content;
}

.style{
    background-color: transparent;
    border: 1px dashed #626262;
    z-index: 42;
    display: block;
}

.input-hide{
    display: none;
}

@media (max-width: 1290px) and (min-width: 800px){
    input{
        width: 5rem;
    }

    .cont-edit{
        width: 800px;
    }
}

@media (max-width: 799px) and (min-width: 660px){
    input{
        width: 3rem;
        font-size: 14px;
    }

    .cont-edit{
        width: 600px;
    }
}

/* @media (max-width: 660px) and  (min-width: 375px){
    .cont-edit{
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-items: center;
        border: 1px solid black;
        
    }

    input{
        width: 1em;
    }

} */
